*{
    padding: 0;
    margin: 0;
   
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;

}
header {
    background-color:#DADAD9 ;
    display: flex;
    justify-content: center;
    padding: 0.7rem;
}



header .logo img {

    width: 20rem;
    height: auto;
}

footer {
    background-color: #4E2D2D;
    color: #EDE6E3;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
    padding: 1rem ;
    text-align: left !important;
    
}



footer .footer-left {
    display: flex;
    flex-direction: column;
    
}

footer .footer-right {
    display: flex;
    flex-direction: column;
    
}
footer a {
    text-decoration: none;
    color: inherit;
}


#copyright {
    text-align: center;
    background-color: #F06449;
    color: #EDE6E3;
    padding: 1rem;
}

.footer-icons a{
	display: inline-block;
	width: 2.4rem;
	height: 2.4rem;
	background-color:  #F06449;
	border-radius: 0.2rem;
	font-size: 1.5rem;
	color: #EDE6E3;
	text-align: center;
    line-height: 2.5rem;
	margin-right: 0.1rem;
}

.footer-icons a:hover{
	background-color:  #4E2D2D;
	transition: 0.3s;
}

main {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    color:#EDE6E3 ;
    background-color: #8A332F;
}

main .vitajte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color:#EDE6E3 ;
    text-align: center;
    margin-bottom: 2rem;
    font-size: larger;
}

main h3 {
    text-align: center;
    margin-bottom: 1rem;
}
main h4 {
    text-align: center;
    margin-bottom: 3rem;
}
.sluzby {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sluzby li {
    
    padding: 0.8rem;
    color:#EDE6E3 ;
    list-style-type: none;

}

.sluzby img {
    margin: 1rem;
    max-width: 50rem;
    max-height: 30rem;
    border-radius: 0.5rem;
    border: #4E2D2D solid 0.5rem;

}
.sluzby img:hover, .trenuje img:hover {
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0rem 2rem 2rem;
}
.trenuje a , .sluzby a{
    cursor: default;
}
.trenuje {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    


}
.trener {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    background-color:#DADAD9 ;
    color: #4E2D2D;
    padding: 1rem;
    border-radius: 0.5rem;
    min-width: 30rem;
    max-width: 40rem;
    justify-self: center;
    align-self: center;

}



.trenuje h2 {
   
    margin-bottom: 0.2rem;
}
.trenuje img {
    margin: 0.5rem;
    margin-bottom: 1rem;
    max-width: 22rem;
    max-height: 22rem;
    border-radius: 0.5rem;
    border: #4E2D2D solid 0.5rem;
    
}

#onload{
	background-color: #EDE6E3;
	color: rgb(255, 255, 255);
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	display: flex;
	position: fixed;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	animation: 3s 0s 1 slideup;
}

@keyframes slideup {
	0% {
		transform: translateY(0%);
		opacity: 1;
		z-index: 1;
	}
	35% {
	  transform: translateY(0%);
	  opacity: 1;
	  z-index: 1;
	}
	100% {
	  transform: translateY(-100%);
	  opacity: 1;
	  z-index: 1;
	  
	}
  }

.sluzbyfoto {
    background-color:#DADAD9 ;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    max-width: 100rem;


    

}


@media (max-width: 900px) {
    .sluzby img {
    max-width: 25rem;
       
       
}
   
#onload img {
    width: 20rem;
    height: auto;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer-left {
    margin-bottom: 1rem;
}


    
}



.lightbox {
	display: none;
  
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  
	padding: 1rem;
  
	background: rgba(0, 0, 0, 0.8);
	cursor: default;
  }
  
  .lightbox:target {
	display: block;
  }
  
  .lightbox span {
	display: block;
	width: 100%;
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
  }
  .najdete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color:#EDE6E3 ;
    text-align: center;
    margin-bottom: 2rem;
    font-size: larger;
    height: 100%;

  }
  .najdete h2 {
    margin-bottom: 1rem;
  }

.najdete iframe {
        width: 100%;
        height: 100%;
        max-width: 100%;
        height: 50rem;
 }

@media (max-width: 900px) {
    .najdete iframe {

        height: 30rem;
 }
 *{
    text-align: center;
  }
}
    
@media (max-width: 450px) {
    .sluzby img {
    max-width: 17.5rem;
       
       
}
    .trenuje img {
    
    max-width: 17.5rem;
}
    .najdete iframe {
        height: 22rem;
    }

     
    }



@media (max-width: 1460px) {
    .sluzbyfoto {
        max-width: 45rem;
    }


}
@media (max-width: 1600px) {
    .trenuje {
        flex-direction: column;
    }


}

@media (max-width: 535px) {
    .trener {
        min-width: 20rem;
    }
    }


@media (max-width: 356px) {
    .trener {
        min-width: 5rem;
       
    }
    .trener img {
        max-width: 12rem;
    }
    .sluzbyfoto {
        max-width: 20rem;
    }
    .sluzby img {
        max-width: 12rem;
    }
    header .logo img {
        width: 15rem;
    }
    #onload img {
        width: 15rem;
    }
}
